.App {
  font-family: sans-serif;
  margin: 8px;
}

.Main {
    min-height: 500px;
    padding: 0;
    display: flex;
    flex-flow: row;
}

.Content {
    padding: 1em 0 0 1em;
    background-color: #F5F3F5;
    color: #302B27;
    flex: 3 1 60%;
    order: 2;
}

.NavBar {
    padding: 7px;
    margin: 0;
    background-color: #576CA8;
    flex: 1 6 20%;
    order: 1;
    max-width: 200px;
}

.NavButton {
    list-style-type: none;
    margin: .1em .1em .1em .25em;
    color: #F5F3F5;
}

header, footer {
    display: block;
    padding: .5em 0 .5em 2em;
    background: #1B264F;
    color: #F5F3F5;
}

footer {
  font-size: small;
  text-align: right;
  padding-right: 10px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    .Main, .App {
        flex-direction: column;
    }

    .Content, .NavBar {
    /* Return them to document order */
        order: 0;
    }

    .NavBar, header, footer {
        max-width: 100%;
    }
}

a:link {
    color: #F5F3F5;
    text-decoration: none;
}

a:visited {
    color: #F5F3F5;
}

a:hover {
    text-decoration: underline;
}
